{% extends "::base.html.twig" %}









{% block body%}








{% if is_granted('ROLE_SUPER_ADMIN') %}

<h3 style="text-align: center;">Remplissez ce mini formulaire afin de supprimer l'article choisi</h1>
<div class="form-align">
	<div class="form-container">
		{{ form_start(form)}}
		{{ form_label(form.Name) }} {{ form_widget(form.Name) }}
		{{ form_rest(form)}}
	</div>
</div>

{% else %}

<h1 style="text-align: center;">Vous n'êtes pas administrateur</h1>

{%endif%}

</br>


{% endblock %}