{% trans_default_domain 'FOSUserBundle' %}
<h3 style="text-align:center;">Remplissez ce mini-formulaire pour changer votre mot de passe.</h3>
<div class="form-align">
	<div class="form-container">
{{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
    {{ form_widget(form) }}
    <div>
        <input type="submit" value="{{ 'change_password.submit'|trans }}" />
    </div>
{{ form_end(form) }}
</div>
</div>