{% extends "::base.html.twig" %}

{% block body %}

<div style="text-align: center; font-family: cursive;">
  <h1>
    <nav id="nav-main" style="background-color: #41051F">
      <p style ="color: #FFFFFF;">DESCRIPTIF ET TARIFS</p>
    </nav>
  </h1>
  </br>
  <h2>
    BARBER SHOP :
  </h2>
  <img src="{{ asset('bundles/framework/images/Barber Shop-1.png') }}" alt="" />
</div>

{% endblock %}
