{% extends "::base.html.twig" %}

{% block body %}

<div style="text-align: center; font-family: cursive;">
  <h1>
      <p style ="color: #F00000;">DESCRIPTIF ET TARIFS</p>
  </h1>
  <h2 style="text-align:center;"> Prothèses Capillaire :</h2>
  <img class="img-responsive center-block" src="{{asset('images/Capi.jpg')}}" alt="" />
  <h2 style="text-align:center;"> Barber Shop :</h2>
  <img class="img-responsive center-block" src="{{asset('images/BS.jpg')}}" alt="" />

</div>

{% endblock %}
