{% extends "::base.html.twig" %}

{% block title %}Eygo Coiffeur{% endblock %}

{% block body %}

{% if is_granted('ROLE_SUPER_ADMIN') %}

<h1 style="text-align: center;">Remplissez ce mini formulaire afin d'ajouter un article</h1>
<div class="form-align">
	<div class="form-container">

		{{ form_start(form)}}
		{{ form_label(form.Name) }} {{ form_widget(form.Name) }}
		{{ form_rest(form)}}

	</div>
</div>





{% else %}

<h1>Vous n'êtes pas administrateur</h1>

{%endif%}
{% endblock %}