{% extends "::base.html.twig" %}

{% block body %}

<h1 style="text-align: center; font-family: cursive;">
  <nav id="nav-main" style="background-color: #41051F">
    <p style ="color: #FFFFFF;">Contact</p>
  </nav>
</h1>

<nav id="nav-mai" style="background-color: #FFFFF2">
  <h1 style="text-align: left; font-family: cursive;">
    Me Contacter : 
  </h1>
  <h2 style="text-align:right; font-family: cursive;">
    <hr>
    <a href="#" class="myButtonContact">Informations</a>
  </h2>

  <h3 style="text-align: center;">
    <strong>
      <p style:"text-align: center;">
        Téléphone :
      </p>
    </strong>
     04 77 76 59 40
       </br>
       </br>
    <strong>
      <p style:"text-align: center;">
        Adresse:
      </p>
    </strong>
     45 Rue Emile Reymond,</br> 42610 Saint-Romain-le-Puy
     <strong>
       </br>
       </br>
       <p style:"text-align: center;">
          Google Map:
      </p>
    </strong>

      <a href="https://www.google.fr/maps/place/45+Rue+Emile+Reymond,+42610+Saint-Romain-le-Puy/@45.5558853,4.1237372,20z/data=!4m5!3m4!1s0x47f4350533d4a2b3:0x45553850bff40883!8m2!3d45.5549909!4d4.1265113" >
      </br>
      <img class="img-responsive center-block" src="{{asset('images/map.png')}}">
    </a>
  </h3>
  <hr>
  </br>
  <h2 style="text-align:right; font-family: cursive;">
    <a href="#" class="myButtonContact">    Réseaux Sociaux 
</a>
  </h2>
  <h3 style="text-align: center;">
    Par facebook : 
    <a href="https://www.facebook.com/EygoAttitude/?fref=ts" >
      <img src="{{asset('images/fb.png')}}">
    </a>
  </h3>


</nav>


{% endblock %}