{% extends "::base.html.twig" %}



{% block body %}

{% if is_granted('ROLE_SUPER_ADMIN') %}

<h1 style="text-align: center; font-family: cursive;">
        <p style ="color: #F00000;">DASHBOARD ADMIN</p>
    </h1>	

 </br>
 </br>
 </br>

<div class="form-align">
	<div class="form-container">
			<a href="{{path('admin_article_no_img')}}" class="myButton">Poster un article</a>
			<a href="{{path('admin_article')}}" class="myButton">Poster un article avec une image</a>
			<a href="{{path('fos_user_change_password')}}" class="myButton">Changer mon mot de passe</a>		
			<a href="{{path('fos_user_security_logout')}}" class="myButton">Déconnexion</a>
	</div>
</div>
{% else %}


<h1>Vous n'êtes pas administrateur</h1>

{%endif%}
{% endblock %}